@page
@model IvaFacilitador.Pages.IVA.SeleccionModel
@{
    ViewData["Title"] = "Cálculo de IVA";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<h1 class="h4 mb-3">Cálculo de IVA</h1>
<p>Próximamente...</p>
