@page
@{
    ViewData["Title"] = "Extras";
    ViewData["PayrollSection"] = "Extras";
}
@await Html.PartialAsync("~/Areas/Payroll/Components/_Topbar.cshtml")

<h1>Extras</h1>
<p>Sección en construcción.</p>
