@page
@{
    ViewData["Title"] = "Reportes";
    ViewData["PayrollSection"] = "Reportes";
}
@await Html.PartialAsync("~/Areas/Payroll/Components/_Topbar.cshtml")

<h1>Reportes</h1>
<p>Sección en construcción.</p>
