@page "/Payroll"
@functions {
    public Microsoft.AspNetCore.Mvc.IActionResult OnGet()
        => new Microsoft.AspNetCore.Mvc.RedirectToPageResult("/Empresas/Index");
}
<h1>Payroll</h1>
<p><a class="btn btn-primary" href="/Payroll/Empresas">Ir a Empresas</a></p>
