@page
@{
    ViewData["Title"] = "Deducciones";
    ViewData["PayrollSection"] = "Deducciones";
}
@await Html.PartialAsync("~/Areas/Payroll/Components/_Topbar.cshtml")

<h1>Deducciones</h1>
<p>Sección en construcción.</p>
